#tic-tac-toe {
    height: inherit;
    position: relative;
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    background-color: var(--secondaryColor);
    overflow: auto;
    display: flex;
}

#tic-tac-toe > * {
    background-color: var(--secondaryColor);
}

.item {
    margin: 0.4em;
}

.board {
    background-color: var(--secondaryColor);
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    width: 100%;
    padding: 1em 0 1em 0;
    margin-bottom: 0;
    justify-content: center;
}

.tcard {
    align-self: center;
    min-width: 241px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.field {
    font-weight: 600;
    font-size: 54px;
    background-color: var(--secondaryColor);
    color: #12232E;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid var(--gridLineColor);
    border-right: 3px solid var(--gridLineColor);
    outline: none;
}

.field.no-r {
    border-right: none;
    font-family: 'Montserrat', sans-serif;
}

.field.no-b {
    border-bottom: none;
    font-family: 'Montserrat', sans-serif;
}

.field p {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.field:hover {
    cursor: pointer;
}

.btn {
    background-color: var(--secondaryColor);
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

.select {
    align-self: flex-start;
    margin-top: 0;
    margin-bottom: 0;
}

.btn-p {
    width: 15em;
    height: 2.5em;
    margin: 1em 1em 1em 1em;
}

.selected {
    color: var(--buttonTextColor);
    font-weight: 600;
    border: 2px solid var(--buttonTextColor);
    -webkit-box-shadow: -1px 7px 22px -6px grey;
    box-shadow: -1px 7px 22px -6px grey;
    transition: all 0.3s;
}

.not-selected {
    box-shadow: none;
    font-weight: 600;
    color: grey;
    border-width: 1.5px;
}

.player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    margin: 0;
    margin-top: 10px;
}

.rst {
    width: 100%;
    margin: auto;
    display: flex;
}

.restart {
    color: var(--buttonTextColor);
    width: 30%;
    min-width: 120px;
    margin: 0 auto;
    height: 3em;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    align-self: center;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.restart:hover {
    transform: scale(1.5);
}

/* select {
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid var(--selectTextColor);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--selectTextColor);
} */

select:hover {
    cursor: pointer;
}

.win p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--winColor);
    z-index: 1;
    -webkit-animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.winner {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    font-size: 35px;
}

.sign {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    font-size: 150px;
    margin: 0;
}

.hide {
    display: none;
}
