:root{
	--mainColor:#606B56;
	--secondaryColor:#515a48;
	--borderColor:#161914;
	--mainText:#ededed;
	--secondaryText:#ededed;
	--themeDotBorder:#FFF;
	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;
	--buttonColor:#669966;
	--slideButtonColor: white;
	--s1textColor: white;
	--s1headerTextColor: white;
	--windowBorderColor: white;
	--skillTextColor: white;
	--inputBorderColor: white;


	/* tic-tac-toe */
	--winColor: white;
	--gridLineColor: white;
	--selectTextColor: #515a48;
	--buttonTextColor: white;
	--tborderColor: white;

	/* solitaire */
	--resetButtonColor: none;
	--gameBoardColor: none;
	--gameBoardBorderColor: white;
	--footerDataTextColor: white;
	--resetButtonHoverColor: white;
	--resetButtonHoverTextColor: white;
}

