:root{
	--mainColor:#606B56;
	--secondaryColor:#515a48;
	--borderColor:#161914;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;
	--buttonColor:#669966;
	--slideButtonColor: white;
	--s1textColor: #066878;
	--s1headerTextColor: white;

	/* tic-tac-toe */
	--winColor: black;
	--gridLineColor: white;
	--selectTextColor: #515a48;
	--buttonTextColor: white;
	--tborderColor: white;

	/* solitaire */
	--resetButtonColor: none;
	--gameBoardColor: none;
	--gameBoardBorderColor: white;
	--footerDataTextColor: lightgrey;
	--resetButtonHoverColor: white;
	--resetButtonHoverTextColor: #606B56;
}